.hero__section{
    background: whitesmoke;
}

a{
    text-decoration: none;
}

.hero__content h2{
    color: black;
    font-weight: 600;
    font-size: 2rem;
}
.hero__content p{
    line-height: 1,.2rem;
    color: black;
    
}
.hero__section p :nth-child(1){
    font-size: 600;
}
.buy__btn{
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    background:black;
    color: #fff;
    font-size: 1rem;
    margin-top: 20px;
}

.buy__btn a:hover{
    color: #fff;

}
.hero__content{
    padding-top: 45px;
}

.timer__count{
    background: whitesmoke;
    height: 300px;
}
.timer__count img{
    width: 70% !important;
    height: 70% !important;
    object-fit: contain;
}
.buy__btn{
    font-weight: 600;
}

@media only screen and (max-width:992px){
    .hero__content h2{
        font-size: 2rem;
    }
    .count_down_col{
        text-align: center;
    }
}

@media only screen and (max-width:786px){
    .hero__content h2{
        font-size: 1.6rem;
    }
    .hero__content p{
        font-size: 0.9.rem;
    }
    .buy__btn{
        font-size: 0.9rem;

        display: inline-block;
    }
}

@media only screen and (max-width:992px){
    .hero__content h2{
        font-size: 2rem;
    }
    .section__title{
        font-size: 1.2rem;
    }
    .counter__img{
        display: none;
    }
    .clock__top-content{
        text-align: center;
    }
}

@media only screen and (max-width:576px){
    .hero__content{
        padding-top: 0;
        margin-bottom: 40px;
    }
}